<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550068079667-44qe69ngffubi9odjcgjgchs02qvvq4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550068079667-44qe69ngffubi9odjcgjgchs02qvvq4q</string>
	<key>API_KEY</key>
	<string>AIzaSyAMf6pzFZluqvtR3fIe0QrHlpJ9nnjnbx4</string>
	<key>GCM_SENDER_ID</key>
	<string>550068079667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-244f0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-244f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550068079667:ios:6fa3d55c2f0d8502362746</string>
</dict>
</plist>